<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    
    <div class="container">

        
        <div class="content">
            
            <div class="img-happy">
                <img src="/assets/undraw-happy.svg" alt="Happy picture" width="240px">
            </div>
            
            <div class="title">
                <h1>Seja bem-vindo!</h1>
            </div>
            
            <h2>Essa é a página principal. Se você chegou aqui é porque já criou sua conta.</h2>
            <p>Apenas quem tem uma conta criada consegue acessar essa página.</p>
            
        </div>
        
        <div class="img-coding">
            <img src="/assets/undraw-coding.svg" alt="Coding person" width="580px">
        </div>
    </div>

</body>
</html>
