<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    
    <div class="container">
        <div id="img-container">
            <img src="/assets/undraw-profile.svg" width="580px" alt="">
        </div>

        <section class="content">
            
            <section class="form-container">
                <head>
                    <p id="title">Faça seu Login</p>
                </head>
    
                <form id="form" action="/login" method="POST">

                    <div class="input-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#a1a1a1"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>
                        <input class="input" type="text" name="email" placeholder="Email" value="<%=email%>">
                    </div>

                    <div class="input-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#a1a1a1"><g fill="none"><path d="M0 0h24v24H0V0z"/><path d="M0 0h24v24H0V0z" opacity=".87"/></g><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6zm9 14H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"/></svg>
                        <input class="input" type="password" name="password" placeholder="Senha" value="<%=password%>">
                    </div>

                    <input class="btn" type="submit" value="Login">
                    
                </form>
    
                <% if (error) {%>
                    <div class="error">
                        <button id="error-btn">X</button>
                        <h3>Erro:</h3>
                        <p><%= errorMessage %></p>
                    </div>
                <%}%> 

                <div class="register">
                    <p>Não possui uma conta? <a href="/register">Crie uma.</a></p>
                </div>
    
            </section>

        </section>

    </div>

    <script src="/scripts/script.js"></script>
</body>
</html>
